/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	/* list-style: none; */
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

.relative{
    position: relative;
}

/* reset css off */

body{
    line-height: 1.5;
    font-family: sans-serif;
}

b{
    color: orangered;
}

.head-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    padding: 20px 100px;
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255,0.6);
    width: 100%;
}

video{
    height: 100vh;
    width: 100%;
}

.hero{
    height: 100vh;
    width: 100%;
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.185);
}

/* choose prog */


.box-logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
}

.box-combo{
    display: flex;
    justify-content: space-between;
}

.text-box{
    margin-left: 20px;
    line-height: 1.7;
}

/* dont think begin today */

.bg-today{
     background: url(/block-BHaacf/assets/cta-bg.jpg);
     height: 384px;
     text-align: center; 
}

.bg-today h2{
    font-size: 36px;
    color: white;
}

.bg-today p{
    color: white;
    font-weight: 100;
}

/* our classes */

.small-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    height: 80px;
    width: 300px;
    margin: 20px 60px;
    padding: 20px;
}

.small-flex h3{
      margin-left: 20px;
}

.btn-class{
    font-size: 18px;
    height: 56px;
    width: 300px;
    margin: 10px 60px;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 5px;
}

.flex-class{
    display: flex;
    flex-direction: row;
}